.loader {
  display: flex;
  flex-direction: column;
  margin-block: 20%;
  gap: 30px;
  align-items: center;
}

.loader__text {
  font-family: inherit;
  font-weight: 500;
  font-size: 25px;
  color: inherit;
}

@media (max-width: 765px) {
  .loader__text {
    font-size: 20px;
  }
}